<%= render 'pages_partials/navbar' %>
<%= render 'pages_partials/slider' %>

<div class="container" style="margin-top: 50px;">	
	<div class="row trending-container">
		<p class="header-title"><a href="">Trending</a></p>
		<%= render 'content_partials/content' %>
	</div>
</div>

<div class="container" style="margin-top: 50px">	
	<div class="row trending-container">
		<p class="header-title"><a href="">Anime</a></p>
		<%= render 'content_partials/content' %>
	</div>
</div>

<div class="pagination-container">
	<center>
		<ul class="pagination">
	    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
	    <li class="active"><a href="#!">1</a></li>
	    <li class="waves-effect"><a href="#!">2</a></li>
	    <li class="waves-effect"><a href="#!">3</a></li>
	    <li class="waves-effect"><a href="#!">4</a></li>
	    <li class="waves-effect"><a href="#!">5</a></li>
	    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
	  </ul>
	</center>	
</div>


<%= render 'pages_partials/floating_button' %>
<%= render 'pages_partials/footer' %>

<script type="text/javascript">
	// $(document).ready(function() {
	// 	$('#logout').on('click', function() {
	// 		$('#app').prepend(`
	// 				<div class="loader">
	// 					<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loader-font"></i>
	// 					<br>
	// 					<span class="sr-only logout-font">Loging out ..</span>
	// 				</div>
	// 			`);
	// 		$('#show-loader').hide();
	// 	});
	// });
</script>