<%= render 'pages_partials/navbar1' %>

<div id="modal-create-post" class="modal bottom-sheet">
  <div class="modal-content">
  	<div class="input-container">
  		<textarea class="post-input" placeholder="Post something ..."></textarea>
  	</div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-yellow btn-flat red">Close</a>
    <a class="modal-action modal-close waves-effect waves-blue btn-flat green">Create</a>
  </div>
</div>

	<% if @bio.blank? %>
		<div id="modal-update-bio" class="modal bottom-sheet">
			<%= render 'form_partials/form_bio' %>
		</div>
	<% else %>
		<div id="modal-update-bio" class="modal bottom-sheet">
			<%= render 'form_partials/form_bio' %>
		</div>
	<% end %>
<div class="container">
	<div class="row post-content-container">
		<div class="col s12 m10 l8 offset-m1">
			<% 3.times { -%>
				<%= render 'content_partials/post' %>
			<% } -%>

			<% 3.times { -%>
				<%= render 'content_partials/post_image' %>
			<% } -%>
		</div>
		<div class="col l4">
			<div class="second-row-content hide-on-med-and-down left">
				<div class="card center-align">
					<div class="card-content">
						<%= image_tag "avatar.jpg" , style:"width:50%" , class:"circle" %>
						<center><strong><%= @username %></strong></center>
						<p class="user-fullname"><%= @fullname %></p>
						<small>
							<b>
							 <a href=""><%= @following.count %> Following</a>	| 
							 <% if @follower.count > 1 %>
							 	<a href=""><%= @follower.count %> Followers</a> 
							 <% else %>
							 	<a href=""><%= @follower.count %> Follower</a> 
							 <% end %>
							</b>
						</small>
						<hr>
						<p id="bio">
							<% if @bio.blank? %>
								<a class="modal-trigger green-text" href="#modal-update-bio">
									Add bio <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
								</a>
							<% else %>
								<i><b class="purple-text"><%= truncate(@bio, length: 200) %></b></i>
								<center>
									<a class="modal-trigger tooltipped" href="#modal-update-bio" data-position="bottom" data-tooltip="Edit bio">
										<i class="material-icons green-text">create</i>
									</a>
								</center>
							<% end %>
						</p>
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>
</div>

<%= render 'pages_partials/floating_button' %>

<style type="text/css">	
	.input-container {
		height: 200px;
	}
	.post-input {
		resize: none;
		width: 100%;
    border-radius: 5px 5px 5px 5px;
    height: 100%;
	}
	.post-content-container {
		margin-top: 100px;
	}
	.post-content {
		box-shadow: 0px 1px 3px #c4c4c4;
    padding: 10px 15px 20px 15px;
    border-radius: 5px;
    font-family: Quicksand;
    margin-bottom: 10px;
	}
	.user-fullname {
		font-size: 20px;
		margin-left: 20px;
		font-family: 'Quicksand';
	}
	footer {
		position: absolute!important;
		top: 100%!important;
	}
</style>