<%= render 'pages_partials/navbar1' %>

<div id="modal-create-post" class="modal bottom-sheet">
  <div class="modal-content">
  	<div class="input-container">
  		<textarea class="post-input" placeholder="Post something ..."></textarea>
  	</div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-yellow btn-flat red">Close</a>
    <a class="modal-action modal-close waves-effect waves-blue btn-flat green">Create</a>
  </div>
</div>

<% if @bio.blank? %>
	<div id="modal-update-bio" class="modal modal-fixed-footer">
		<%= render 'form_partials/form_bio' %>
	</div>
<% else %>
	<div id="modal-update-bio" class="modal modal-fixed-footer">
		<%= render 'form_partials/form_bio' %>
	</div>
<% end %>

<div class="center-align profile-container white" style="margin-top: 100px;">
	<div class="profile-image-container">
		<%= image_tag "12.png" , class:"circle profile-photo" %>
	</div>
	<p class="user-fullname"><b><%= @fullname %> <%= @username %></b></p>
	<small><%= @email %></small>
	<div class="nav-wrapper">
	  <div class="col s12">
	    <a class="purple-text"><%= @following.count %> following</a> | 
	    <a class="blue-text"><%= @follower.count %> follower</a>
	  </div>
	</div>
	<p class="bio">
		<% if @bio.blank? %>
			<a class="modal-trigger green-text" href="#modal-update-bio">
				Add bio <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
			</a>
		<% else %>
			<small><%= @bio %></small><br>
			<small>
				<u>
					<a href="#modal-update-bio" class="modal-trigger tooltipped" data-position="bottom" data-tooltip="Edit bio">Edit bio</a>
					</u>
			</small>
		<% end %>
	</p>
</div>

<div class="container">
	<div class="row post-content-container">
		<center><p class="fishy green-text"><%= notice %></p></center>
		<div class="col s12 m10 l8 offset-l2 offset-m1">
			<% 3.times { -%>
				<%= render 'content_partials/post' %>
			<% } -%>

			<% 3.times { -%>
				<%= render 'content_partials/post_image' %>
			<% } -%>
		</div>
	</div>
</div>

<%= render 'pages_partials/floating_button' %>

<style type="text/css">	

	.profile-image-container {
		overflow: hidden;
	}

 .profile-photo:hover {
    cursor:pointer;
    /*filter: blur(3px);*/
    transform: scale(.95);
 }

	.profile-photo {
		transition: .2s;
		width: 20%;
		border: .4px solid blue;
	}

	.bio {
		border: 1px solid #e7e7e7;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10%;
    border-radius: 10px;
    margin-right: 10%;
	}

	.profile-container {
		padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 0px 1px #d0d0d0;
	}
	.input-container {
		height: 200px;
	}
	.post-input {
		resize: none;
		width: 100%;
    border-radius: 5px 5px 5px 5px;
    height: 100%;
	}
	.post-content-container {
		margin-top: 100px;
	}
	.post-content {
		box-shadow: 0px 1px 3px #c4c4c4;
    padding: 10px 15px 20px 15px;
    border-radius: 5px;
    font-family: Quicksand;
    margin-bottom: 10px;
	}
	.user-fullname {
		margin-bottom: 0px;
	}
	footer {
		position: absolute!important;
		top: 100%!important;
	}
	.fishy {
		font-family: Quicksand;
		font-size: 20px;
	}
</style>