<%= render 'pages_partials/navbar1' %>

<div class="container">
	<div class="row" style="margin-top: 100px;margin-bottom: 100px">
		<div class="col s12 m10 l8 offset-l2 offset-m1 friend-container">
			<center><%= notice %></center>
			<center>You are looking for "<%= params[:search] %>"?</center>
			<% if @user.empty? %>
				<center><h3>No Username found</h3></center>
			<% else %>
				<ul class="collection">
					<% @user.each do |user| %>
						<li class="collection-item avatar">
						  <%= image_tag "avatar.jpg" , class:"circle" %>
						  <% if user.id == current_user.id %>
						  	<p class="fullname">
						  		<%= link_to user.firstname + " " + user.lastname , profile_path , class:"black-text" %>
						  		(You)
						    </p>
						  <% else %>
						  	<p class="fullname">
						  		<%= link_to user_account_path(user.username) do %>
						  			<p class="black-text"><%= user.firstname + " " + user.lastname %></p>
						  		<% end %>
						    	<% if user.username.blank? %>
						    	<% else %>
						    		(<%= user.username %>)
						    	<% end %>
						    </p>
						  <% end %>
						  <p class="email"><%= user.email %></p>
						</li>
					<% end %>
			  </ul>
			<% end %>
		</div>
	</div>
</div>

<%= render 'pages_partials/floating_button' %>

<style>
	.friend-container {
		padding-right: 0px!important;
		padding-left: 0px!important;
	}	

	.fullname {
		font-family: Quicksand;
		font-size:20px;
		padding-top: 5px;
	}
	.email {
		font-family: Quicksand;
		font-size:15px;
	}
</style>


