<nav class="purple darken-1" id="my-navbar" style="margin-bottom: 60px;">
  <div class="container nav-wrapper">
    <%= link_to "Sumimachine" , root_path , class:"brand-logo" %>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-small hide-on-large-only"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to profile_path , class:"tooltipped" , 'data-position' => 'bottom' , 'data-tooltip' => "#{current_user.firstname}", 'data-delay' => '10' do %>
            <i class="material-icons">account_circle</i>
          <% end %>
        </li>
        <li>
          <a href="#" class="tooltipped" data-position="bottom" data-tooltip="Messages" data-delay="10" onclick="Materialize.toast('Nothing to see here' , 1000)">
            <i class="material-icons">messages</i>
          </a>
        </li>
        <li>
          <a href="#" class="tooltipped" data-position="bottom" data-tooltip="Home" data-delay="10" onclick="Materialize.toast('Nothing to see here' , 1000)">
            <i class="material-icons">home</i>
          </a>
        </li>
        <li>
          <a href="#" class="tooltipped" data-position="bottom" data-tooltip="Followers" data-delay="10" onclick="Materialize.toast('Nothing to see here' , 1000)">
            <i class="material-icons">insert_emoticon</i>
          </a>
        </li>
        <li>
          <a href="#" class="tooltipped" data-position="bottom" data-tooltip='<%= @notification.count %> Notifications' data-delay="10" onclick="Materialize.toast('Nothing to see here' , 1000)">
            <% if @notification.count == 0 %>

            <% else %>
              <span class="badge red white-text my-badge"><%= @notification.count %></span>
            <% end %>
            <i class="material-icons">person_pin_circle</i>
          </a>
        </li>
        <li>
          <a href="" class="dropdown-button" data-activates="dropdownA">
            <i class="material-icons">more_vert</i>
          </a>
        </li>
        <ul class="dropdown-content" id="dropdownA">
          <li><%= link_to "Settings", edit_user_registration_path , class:"center" %></li>
          <li><%= link_to "Logout" , destroy_user_session_path , method: :delete , class:"center" %></li>
        </ul>
      </ul>
  </div>

  <nav class="purple lighten-2 my-navbar">
    <div class="container nav-wrapper">
      <ul class="right hide-on-large-only show-on-small">
        <li class="waves-effect waves-violet">
          <%= link_to profile_path , class:"tooltipped" , 'data-position' => 'bottom' , 'data-tooltip' => "#{current_user.firstname}"  do %>
            <i class="material-icons">account_circle</i>
          <% end %>
        </li>
        <li class="waves-effect waves-violet">
          <a href="#" class="tooltipped" data-position="bottom" data-tooltip="Messages">
            <i class="material-icons">messages</i>
          </a>
        </li>
        <li class="waves-effect waves-violet">
          <a href="#" class="tooltipped" data-position="bottom" data-tooltip="Home">
            <i class="material-icons">home</i>
          </a>
        </li>
        <li class="waves-effect waves-violet">
          <a href="#" class="tooltipped" data-position="bottom" data-tooltip="Followers">
            <i class="material-icons">insert_emoticon</i>
          </a>
        </li>
        <li class="waves-effect waves-violet">
          <a href="#" class="tooltipped" data-position="bottom" data-tooltip="Notifications">
          	<% if @notification.count == 0 %>
              <!-- soon -->
            <% else %>
              <span class="badge red white-text my-badge"><%= @notification.count %></span>
            <% end %>
            <i class="material-icons">person_pin_circle</i>
          </a>
        </li>
        <li>
          <a href="#!" class="dropdown-button" data-activates="dropdown4">
            <i class="material-icons">more_vert</i>
          </a>
        </li>
      </ul>

      <ul class="dropdown-content" id="dropdown4">
        <li><%= link_to "Settings" , edit_user_registration_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Logout" , destroy_user_session_path , method: :delete %></li>
      </ul>
      
      <ul class="left hide-on-med-and-down">
        <li><%= link_to "Home" , root_path %></li>
        <li><a href="#" onclick="Materialize.toast('Nothing to see here' , 1000)">Anime</a></li>
        <li><a href="#" onclick="Materialize.toast('Nothing to see here' , 1000)">Music</a></li>
        <li><a href="#" onclick="Materialize.toast('Nothing to see here' , 1000)">Manga</a></li>
        <li><a href="#" onclick="Materialize.toast('Nothing to see here' , 1000)">Games</a></li>
        <li>
          <a class="dropdown-button" href="#!" data-activates="dropdown2">more<i class="material-icons right">arrow_drop_down</i>
            </a>
        </li>
      </ul>
      <!-- More -->
      <ul class="dropdown-content" id="dropdown2">
        <li><a href="#" onclick="Materialize.toast('Nothing to see here' , 1000)">Links</a></li>
        <li><a href="#" onclick="Materialize.toast('Nothing to see here' , 1000)">Links</a></li>
        <li><a href="#" onclick="Materialize.toast('Nothing to see here' , 1000)">Links</a></li>
        <li><a href="#" onclick="Materialize.toast('Nothing to see here' , 1000)">Links</a></li>
        <li><a href="#" onclick="Materialize.toast('Nothing to see here' , 1000)">Links</a></li>
        <li><a href="#" onclick="Materialize.toast('Nothing to see here' , 1000)">Links</a></li>
        <li><a href="#" onclick="Materialize.toast('Nothing to see here' , 1000)">Links</a></li>
      </ul>
    </div>
  </nav>
</nav>
<!-- Mobile Side Nav -->
<ul id="slide-out" class="side-nav">
  <li>
    <div class="user-view">
      <div class="background">
        <%= image_tag "sidenav_bg.jpg", style:"width:100%" %>
      </div>
      <a href="#!user"><%= image_tag "avatar.jpg" , class:"circle" %></a>
      <a href="#!name">
        <span class="white-text name">
        <%= current_user.firstname + " " + current_user.lastname %>
        </span>
      </a>
      <a href="#!email">
        <span class="white-text email">
          <%= current_user.email %>
        </span>
      </a>
    </div>
  </li>
  <li><a href="#"><i class="material-icons">video_library</i>Anime</a></li>
  <li><a href="#"><i class="material-icons">speaker</i>Music</a></li>
  <li><a href="#"><i class="material-icons">books</i>Manga</a></li>
  <li><a href="#"><i class="material-icons">games</i>Games</a></li>
  <li>
    <li>
      <a href="" class="dropdown-button" data-activates="dropdown3">
        <i class="material-icons">keyboard_arrow_down</i><%= current_user.firstname %>
      </a>
    </li>
    <ul class="dropdown-content gray" id="dropdown3">
      <li>
        <%= link_to "Logout" ,destroy_user_session_path , method: :delete %>
      </li>
      <li>
        <%= link_to "Account Settings" ,edit_user_registration_path %>
      </li>
    </ul>
  </li>
</ul>

<style type="text/css">
  .brand-logo {
    font-family: 'coiny';
  }
  nav {
    font-family: "Quicksand";
  }
  .my-badge {
  	position: absolute;
    top: 35px;
    min-width: 0!important;
    margin-left: 15px!important;
  }
</style>