<nav class="purple">
  <div class="nav-wrapper container">
    <%= link_to "Sumimachine",  root_path , class:"brand-logo" %>
    <a href="#" data-activates="mobile-demo" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
  <!-- navbar -->
    <ul class="right hide-on-med-and-down">
      <li>
        <%= link_to profile_path do %>
          <i class="material-icons">person</i>
        <% end %>
      </li>
      <li>
        <%= link_to profile_path do %>
          <i class="material-icons">messages</i>
        <% end %>
      </li>
      <li>
        <%= link_to followers_path do %>
          <i class="material-icons">sentiment_very_satisfied</i>
        <% end %>
      </li>
      <li>
        <a class="button-collapse-2" data-activates="slide-out">
          <% if @unread_notification.count < 1 %>
            <!-- some codes here -->
          <% else %>
            <span class="badge notif-count"><%= @unread_notification.count %></span>
          <% end %>
          <i class="material-icons">notifications</i>
        </a>
      </li>
      <li>
        <a class="dropdown-button" data-activates="dropdown-logout">
          <i class="material-icons">more_vert</i>
        </a>
      </li>
    </ul>

    <ul id="dropdown-logout" class="dropdown-content setting-drop">
      <li><%= link_to "Settings" , edit_user_registration_path, class:"center" %></li>
      <li><%= link_to "Logout" , destroy_user_session_path , method: :delete , class:"center" %></li> 
    </ul>
  <!-- navbar -->

  <!-- side nav -->
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to current_user.firstname, profile_path %></li>
      <li><a href="#">Anime</a></li>
      <li><a href="#">Games</a></li>
      <li><a href="#">Manga</a></li>
      <li><a href="#">Music</a></li>
    </ul>
  <!-- side nav -->
  </div>

  <nav class="purple lighten-2" style="position: relative;">
    <div class="nav-wrapper container">
      
      <ul class="hide-on-med-and-down">
        <li><a href="#">Anime</a></li>
        <li><a href="#">Manga</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">Games</a></li>
      </ul>

      <ul class="hide-on-large-only">
        <li>
          <%= link_to profile_path do %>
            <i class="material-icons">person</i>
          <% end %>
        </li>
        <li>
          <%= link_to profile_path do %>
            <i class="material-icons">messages</i>
          <% end %>
        </li>
        <li>
          <%= link_to followers_path do %>
            <i class="material-icons">sentiment_very_satisfied</i>
          <% end %>
        </li>
        <li>
          <a class="button-collapse-2" data-activates="slide-out">
            <% if @unread_notification.count < 1 %>
              <!-- some codes here -->
            <% else %>
              <span class="badge notif-count"><%= @unread_notification.count %></span>
            <% end %>
            <i class="material-icons">notifications</i>
          </a>
        </li>
        <li>
          <a class="dropdown-button" data-activates="dropdown-logout-2">
            <i class="material-icons">more_vert</i>
          </a>  
        </li>
      </ul>

      <!-- dropdown logout -->
      <ul id="dropdown-logout-2" class="dropdown-content setting-drop">
        <li><%= link_to "Settings" , edit_user_registration_path, class:"center" %></li>
        <li><%= link_to "Logout" , destroy_user_session_path , method: :delete , class:"center" %></li> 
      </ul>

    </div>
  </nav><!-- 2nd NAVBAR -->
</nav><!-- 1st NAVBAR -->

<ul id="slide-out" class="side-nav">
  <li><a href="#!"><i class="material-icons blue-text">notifications</i>Notifications</a></li>
  <li><div class="divider"></div></li>
  <% @notification.each do |notification| %>
    <% if notification.marked == true %>
      <li>
        <a class="btn-option">
          <i class="fa fa-circle options" aria-hidden="true"></i></a>
        <a>
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          <small><%= notification.content %></small>
        </a>
      </li>
    <% else %>
      <li class="purple lighten-4">
        <a class="btn-option" onclick="Materialize.toast('Marked as read',1000)">
          <i class="fa fa-dot-circle-o options" aria-hidden="true"></i></a>
        <%= link_to mark_path(notification.id) , method: :put, class:"waves-effect" do %>
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          <small><%= notification.content %>
          </small>
        <% end %>
      </li>  
    <% end %>
  <% end %>
  <% if @notification.count > 2 %>
    <li style="background-color: #ededed;">
      <a class="waves-effect gray"><i class="material-icons blue-text">explore</i>
        <small>View all notification</small>
      </a>
    </li>
  <% end %>
  <% if @notification.empty? %>
    <li style="background-color: #ededed;">
      <a class="waves-effect gray"><i class="fa fa-meh-o" aria-hidden="true"></i>
        <small>No notifications yet</small>
      </a>
    </li>
  <% end %>
</ul>

<style>
  body {
    font-family: Quicksand;
  }
  .btn-option {
    font-size: 10px!important;
    font-weight: 0px!important;
    height: 0px!important;
    line-height: 0px!important;
    padding: 0px!important;
    left: 93%;
    position: relative;
    top: 25px;
  }
  .options {
     float: none; 
     height: 0px!important; 
     line-height: 0px!important; 
     margin: 0px!important; 
     width: 0px!important; 
    color: rgba(0, 0, 0, 0.54);
  }

  .notification-drop {
    width: 35%!important;
    font-size: 10px!important;
    top:100%!important;
    left:75%!important;
  }

  .setting-drop {
    top: 100%!important;
  }
  .notification-drop a {
    font-size: 11px!important;
  }

  .dropdown-content li > a, .dropdown-content li > span {
    color: #896694!important;
  }
  .button-collapse {
    margin:0px!important;
  }
  .notif-count {
    position: absolute!important;
    background: #ce4848!important;
    color: white!important;
    top: 30px!important;
    padding: 0px!important;
    border-radius: 25px!important;
    min-width: 25px!important;
    margin-left: 15px!important;
  }
</style>