<nav class="purple darken-1" id="my-navbar">
  <div class="container nav-wrapper">
    <%= link_to "Sumimachine" , root_path , class:"brand-logo" %>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-small hide-on-large-only"><i class="material-icons">menu</i></a>
    <% if user_signed_in? %>
      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to profile_path , class:"tooltipped" , 'data-position' => 'bottom' , 'data-tooltip' => "#{current_user.firstname}", 'data-delay' => '10' do %>
            <i class="material-icons">account_circle</i>
          <% end %>
        </li>
        <li>
          <a href="sass.html" class="tooltipped" data-position="bottom" data-tooltip="Home" data-delay="10">
            <i class="material-icons">home</i>
          </a>
        </li>
        <li>
          <a href="sass.html" class="tooltipped" data-position="bottom" data-tooltip="Followers" data-delay="10">
            <i class="material-icons">insert_emoticon</i>
          </a>
        </li>
        <li>
          <a href="sass.html" class="tooltipped" data-position="bottom" data-tooltip="Notifications" data-delay="10">
            <i class="material-icons">person_pin_circle</i>
          </a>
        </li>
      </ul>
    <% end %>
  </div>

  <nav class="purple lighten-2 my-navbar">
    <div class="container nav-wrapper">

      <% if user_signed_in? %>
        <ul class="left hide-on-large-only show-on-small">
          <li class="waves-effect waves-violet">
            <a href="sass.html" class="tooltipped" data-position="bottom" data-tooltip="<%= current_user.firstname %>">
              <i class="material-icons">account_circle</i>
            </a>
          </li>
          <li class="waves-effect waves-violet">
            <a href="sass.html" class="tooltipped" data-position="bottom" data-tooltip="Home">
              <i class="material-icons">home</i>
            </a>
          </li>
          <li class="waves-effect waves-violet">
            <a href="sass.html" class="tooltipped" data-position="bottom" data-tooltip="Followers">
              <i class="material-icons">insert_emoticon</i>
            </a>
          </li>
          <li class="waves-effect waves-violet">
            <a href="sass.html" class="tooltipped" data-position="bottom" data-tooltip="Notifications">
              <i class="material-icons">person_pin_circle</i>
            </a>
          </li>
          <li>
            <a href="#!" class="dropdown-button" data-activates="dropdown4">
              <i class="material-icons">more_vert</i>
            </a>
          </li>
        </ul>

        <ul class="dropdown-content" id="dropdown4">
          <li><a href="">Help</a></li>
          <li><%= link_to "Account settings" , edit_user_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Logout" , destroy_user_session_path , method: :delete %></li>
        </ul>
      <% end %>
      
      <ul class="left hide-on-med-and-down">
        <li><%= link_to "Home" , root_path %></li>
        <li><a href="#">Anime</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">Manga</a></li>
        <li><a href="#">Games</a></li>
        <li>
          <a class="dropdown-button" href="#!" data-activates="dropdown2">more<i class="material-icons right">arrow_drop_down</i>
            </a>
        </li>
        <li>
          <% if user_signed_in? %>
          <% else %>
            <a class="dropdown-button" href="#!" data-activates="dropdown1">Join Us<i class="material-icons right">arrow_drop_down</i>
            </a>
          <% end %>
        </li>
      </ul>
      <!-- More -->
      <ul class="dropdown-content" id="dropdown2">
        <li><a href="">Links</a></li>
        <li><a href="">Links</a></li>
        <li><a href="">Links</a></li>
        <li><a href="">Links</a></li>
        <li><a href="">Links</a></li>
        <li><a href="">Links</a></li>
        <li><a href="">Links</a></li>
      </ul>
      <!-- Join Us -->
      <ul id="dropdown1" class="dropdown-content">
        <% if user_signed_in? %>
        <% else %>
          <li><%= link_to "Login" ,new_user_session_path, class:"center" %></li>
          <li><%= link_to "Sign Up" ,new_user_registration_path, class:"center" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</nav>
<!-- Mobile Side Nav -->
<ul id="slide-out" class="side-nav">
  <li>
    <div class="user-view">
      <div class="background">
        <%= image_tag "sidenav_bg.jpg", style:"width:100%" %>
      </div>
      <a href="#!user"><%= image_tag "avatar.jpg" , class:"circle" %></a>
      <% if user_signed_in? %>
        <a href="#!name"><span class="white-text name">
          <%= current_user.firstname + " " + current_user.lastname %></span></a>
        <a href="#!email"><span class="white-text email">
          <%= current_user.email %></span></a>
      <% else %>
        <a href="#!">S U M I M A C H I N E</a>
      <% end %>
    </div>
  </li>
  <% if user_signed_in? %>
    <li>
      <%= link_to profile_path do %>
        <%= current_user.firstname %><i class="material-icons">account_circle</i>
      <% end %>
    </li>
    <li>
      <%= link_to edit_user_registration_path do %>
        Account settings<i class="material-icons">settings</i>
      <% end %>
    </li>
  <% end %>
  <li><div class="divider"></div></li>
  <li><a href="sass.html"><i class="material-icons">video_library</i>Anime</a></li>
  <li><a href="badges.html"><i class="material-icons">speaker</i>Music</a></li>
  <li><a href="collapsible.html"><i class="material-icons">books</i>Manga</a></li>
  <li><a href="mobile.html"><i class="material-icons">games</i>Games</a></li>
  <li>
    <% if user_signed_in? %>
      <li>
        <a href="" class="dropdown-button" data-activates="dropdown3">
          <i class="material-icons">keyboard_arrow_down</i><%= current_user.firstname %>
        </a>
      </li>
      <ul class="dropdown-content gray" id="dropdown3">
        <li>
          <%= link_to "Logout" ,destroy_user_session_path , method: :delete %>
        </li>
        <li>
          <%= link_to "Account Settings" ,edit_user_registration_path %>
        </li>
      </ul>
    <% else %>
      <li>
        <a href="" class="dropdown-button" data-activates="dropdown3">
          <i class="material-icons">keyboard_arrow_down</i>Join Us
        </a>
      </li>
      <ul class="dropdown-content gray" id="dropdown3">
        <li>
          <%= link_to "Login" ,new_user_session_path %>
        </li>
        <li>
          <%= link_to "Sign Up" ,new_user_registration_path %>
        </li>
      </ul>
    <% end %>
  </li>
</ul>

<script>
  $(document).ready(function() {
    $(".button-collapse").sideNav();
  });
</script>

<style type="text/css">
  .brand-logo {
    font-family: 'coiny';
  }
  nav {
    font-family: "Quicksand";
  }
</style>