<%= render 'pages_partials/navbar1' %>

<div class="div">
  <div class="row" style="padding-top: 150px">
    <div class="col l6 m8 s12 offset-l3 offset-m2">
      <div class="second-row-content left white">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <blockquote><%= devise_error_messages! %></blockquote>
          <h4 class="center">Edit <%= resource_name.to_s.humanize %></h4>
          <div class="input-field col s12">
            <i class="material-icons prefix">mail</i>
            <%= f.label :firstname, class:"active" %>
            <%= f.text_field :firstname, autofocus: true %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">mail</i>
            <%= f.label :middlename, class:"active" %>
            <%= f.text_field :middlename %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">mail</i>
            <%= f.label :lastname, class:"active" %>
            <%= f.text_field :lastname %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">mail</i>
            <%= f.label :email, class:"active" %>
            <%= f.email_field :email , autocomplete: "email" %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">create</i>
            <%= f.label :username, class:"active" %>
            <%= f.text_field :username %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">create</i>
            <%= f.text_area :bio , autocomplete: "email" , class:"materialize-textarea" , 'data-length' => '70' %>
            <%= f.label :bio, class:"active" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <label>Password (Leave it blank if you don't want to change it)</label>
            <%= f.password_field :password, autocomplete: "off" %>
            <% if @minimum_password_length %>
            <% end %>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <label>Password confirmation (6 character minimum)</label>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          <div class="input-field col s12 password-verification">
            <i class="material-icons prefix">lock</i>
            <label>Password Verification (Current Password)</label>
            <%= f.password_field :current_password, autocomplete: "off" , required: true %>
          </div>  
          <div class="actions col s12">
            <%= f.submit "Update" , class:"btn waves-effect green waves-blue" , data: { :disable_with => "Updating profile.." } %>
          </div>  
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'pages_partials/floating_button' %>


<%= render 'pages_partials/footer' %>

<style type="text/css">
  .first-row-content {
    border: 1px solid #aaaaaa;
    padding: 20px 15px 20px 15px;
    border-radius: 5px;
  }
  .second-row-content {
    margin-bottom: 100px;
    padding: 20px 15px 20px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #959595;
  }
  nav {
    position: absolute!important;
  }
  h2 {
    font-size: 20px;
    color:red;
  }
  .modal.open{
        width: 100%;
        max-height: 100%;
        height: 100%;
        top: 0 !important;
      }
      .modal-content {
        height: calc(100% - 56px);
      }
  @media (max-width: 575px) { 
     .modal.open{
        width: 100%;
        max-height: 100%;
        height: 100%;
        top: 0 !important;
      }
      .modal-content {
        height: calc(100% - 56px);
      }
  }
  /*// Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767px) {  
     .modal.open{
        width: 100%;
        max-height: 100%;
        height: 100%;
        top: 0 !important;
      }
      .modal-content {
        height: calc(100% - 56px);
      }
  }
</style>

<script>
  $('.modal').modal();
</script>