<% if user_signed_in? %>
  <%= render 'pages_partials/navbar1' %>
<% else %>
  <%= render 'pages_partials/navbar2' %>
<% end %>
<br>
<div class="container row">
  <div class="col l6 hide-on-med-and-down">
    <div class="row1">
      <% if resource.errors.any? %>
        <ul>
          <blockquote><%= devise_error_messages! %></blockquote> 
        </ul>
      <% else %>
        <%= image_tag "master.png" %>
      <% end %>
    </div>
  </div>
  <div class="row1 show-on-small-only hide-on-large-only">
    <% if resource.errors.any? %>
      <ul>
        <blockquote><%= devise_error_messages! %></blockquote> 
      </ul>
    <% else %>
      <%= image_tag "master.png" %>
    <% end %>
  </div>
  <div class="card col l6 s12">
    <h4 class="center">Sign Up</h4>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="card-content">
        <div class="input-field">
          <%= f.label :username , class:"active" %>
          <%= f.text_field :username, required: true %>
        </div>
        <div class="input-field">
          <%= f.label :firstname %>
          <%= f.text_field :firstname, required: true %>
        </div>
        <div class="input-field">
          <%= f.label :lastname %>
          <%= f.text_field :lastname, required: true %>
        </div>
        <div class="input-field">
          <%= f.label :email %>
          <%= f.email_field :email, autocomplete: "email", required: true %>
        </div>
        <div class="input-field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", required: true %>
        </div>
        <div class="input-field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
        </div>  
      </div>
      <div class="card-action notices">
        <div class="actions">
          <%= f.submit "Sign up" , class:"btn waves-effect waves-blue purple darken-1" , id: "signup-btn" , data: { :disable_with => "Creating account.." } %>
        </div>
      </div>
    <% end %> 
  </div>
</div>
<%= render 'pages_partials/footer' %>

<style>
  .registration-card {
    /*margin-top: 100px;*/
    /*margin-bottom: 100px;*/
  }

  h2 {
    font-size: 20px;
    color:red;
  }
</style>